body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Ubuntu;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(../images/background_rassil.jpg);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
.ThemeableMenu1 .hide 
{
   display: none!important;
}
.ThemeableMenu1 .show 
{
   display: block!important;
}
.ThemeableMenu1 .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.ThemeableMenu1 .nav
{
   font-family: "Ubuntu";
   font-weight: 300;
   font-size: 16px;
   font-style: normal;
   color: #FFFFFF;
   text-align: left;
}
#ThemeableMenu1, .ThemeableMenu1 .nav, .ThemeableMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.ThemeableMenu1 .nav:before,
.ThemeableMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .nav:after 
{
   clear: both;
}
.ThemeableMenu1 .nav a 
{
   text-decoration: none;
}
.ThemeableMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 10px;
}
.ThemeableMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.ThemeableMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.ThemeableMenu1 .container:before,
.ThemeableMenu1 .container:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .container:after 
{
   clear: both;
}
.ThemeableMenu1 .collapse 
{
   display: none;
}
.ThemeableMenu1 .collapse.in 
{
   display: block;
}
.ThemeableMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.ThemeableMenu1 .caret 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.ThemeableMenu1 .dropdown 
{
   position: relative;
}
.ThemeableMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 20px;
   background-clip: padding-box;
}
.ThemeableMenu1 .dropdown-menu .divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu1 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #FFFFFF;
   white-space: nowrap;
}
.ThemeableMenu1 .dropdown-menu>li>a:hover,
.ThemeableMenu1 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #F9BA48;
   background-image: none;
}
.ThemeableMenu1 .dropdown-menu>.active>a,
.ThemeableMenu1 .dropdown-menu>.active>a:hover,
.ThemeableMenu1 .dropdown-menu>.active>a:focus 
{
   color: #fff;
   text-decoration: none;
   outline: 0;
   background-color: #343A40;
}
.ThemeableMenu1 .open>.dropdown-menu 
{
   display: block;
}
.ThemeableMenu1 .open>a 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.ThemeableMenu1 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.ThemeableMenu1 .nav>li 
{
   position: relative;
   display: block;
}
.ThemeableMenu1 .nav>li>a 
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.ThemeableMenu1 .nav .open>a,
.ThemeableMenu1 .nav .open>a:hover,
.ThemeableMenu1 .nav .open>a:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.ThemeableMenu1 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu1 .nav>li>a>img 
{
   max-width: none;
}
.ThemeableMenu1 .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.ThemeableMenu1
{
   position: relative;
   border: 1px solid transparent;
   background-color: transparent;
   background-image: none;
}
.ThemeableMenu1:before,
.ThemeableMenu1:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1:after 
{
   clear: both;
}
.ThemeableMenu1 .navbar-header:before,
.ThemeableMenu1 .navbar-header:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .navbar-header:after 
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.ThemeableMenu1-navbar-collapse:before,
.ThemeableMenu1-navbar-collapse:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1-navbar-collapse:after 
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse.in 
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 11px 10px 10px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 20px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar+.icon-bar 
{
   margin-top: 4px;
}
.ThemeableMenu1 .navbar-nav 
{
   margin: 6px -15px;
}
.ThemeableMenu1 .navbar-nav>li>.dropdown-menu 
{
   margin-top: 0;
}
.ThemeableMenu1 .navbar-nav>li>a 
{
   color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus 
{
   background-color: #F9BA48;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.ThemeableMenu1 .navbar-nav>.active>a,
.ThemeableMenu1 .navbar-nav>.active>a:hover,
.ThemeableMenu1 .navbar-nav>.active>a:focus 
{
   color: #2B2B2B;
   background-color: #F9BA48;
   background-image: none;
}
.ThemeableMenu1 .navbar-toggle 
{
   border: 1px solid rgba(255,166,77,0.10);
}
.ThemeableMenu1 .navbar-toggle:hover,
.ThemeableMenu1 .navbar-toggle:focus 
{
   background-color: transparent;
}
.ThemeableMenu1 .navbar-toggle .icon-bar 
{
   background-color: #FFFFFF;
}
.ThemeableMenu1-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.open>a,
.ThemeableMenu1 .navbar-nav>.open>a:hover,
.ThemeableMenu1 .navbar-nav>.open>a:focus 
{
   background-color: #F9BA48;
   background-image: none;
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.open>a .caret,
.ThemeableMenu1 .navbar-nav>.open>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-link 
{
   color: #FFFFFF;
}
.ThemeableMenu1 .navbar-link:hover 
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-header
{
   color: #FFFFFF;
   height: 38px;
}
@media (min-width: 768px) 
{
.ThemeableMenu1 .navbar-right .dropdown-menu 
{
   right: 0;
   left: auto;
}
.ThemeableMenu1 .navbar-header 
{
   float: left;
}
.ThemeableMenu1-navbar-collapse 
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.ThemeableMenu1-navbar-collapse.collapse 
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.ThemeableMenu1-navbar-collapse.in 
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle
{
   display: none;
}
.ThemeableMenu1 .navbar-nav 
{
   float: right;
   margin: 0;
}
.ThemeableMenu1 .navbar-nav>li 
{
   float: left;
}
.ThemeableMenu1 .container>.navbar-header,
.ThemeableMenu1 .container>.ThemeableMenu1-navbar-collapse 
{
   margin-right: 0;
   margin-left: 0;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 768px) 
{
.ThemeableMenu1 
{
   border-color: rgba(52,58,64,0.00);
}
.ThemeableMenu1 .navbar-nav 
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu 
{
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a,
.ThemeableMenu1 .navbar-nav .open .dropdown-menu .dropdown-header 
{
   padding: 5px 15px 5px 25px;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a 
{
   line-height: 20px;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a:hover,
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a:focus 
{
   background-image: none;
}
}
@media (min-width: 768px) 
{
.ThemeableMenu1 
{
   background-color: transparent;
   background-image: none;
   border-color: rgba(52,58,64,0.00);
   border-radius: 20px;
}
.ThemeableMenu1 .navbar-nav>li>a 
{
   color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus 
{
   color: #FFFFFF;
   background-color: #F9BA48;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>.active>a,
.ThemeableMenu1 .navbar-nav>.active>a:hover,
.ThemeableMenu1 .navbar-nav>.active>a:focus 
{
   color: #FFFFFF;
   background-color: #F9BA48;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>.open>a,
.ThemeableMenu1 .navbar-nav>.open>a:hover,
.ThemeableMenu1 .navbar-nav>.open>a:focus 
{
   background-color: #F9BA48;
   background-image: none;
   color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav > li.active > a > .caret,
.ThemeableMenu1 .navbar-nav > li.active > a:hover > .caret,
.ThemeableMenu1 .navbar-nav > li.active > a:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.open>a .caret,
.ThemeableMenu1 .navbar-nav>.open>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-link 
{
   color: #FFFFFF;
}
.ThemeableMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#ThemeableMenu1-logo
{
   float: left;
}
#ThemeableMenu1-logo img
{
   border-width: 0;
   height: auto;
   max-width: 100%;
}
#ThemeableMenu1 i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 50vh;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   height: 50vh;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 50px 0px 50px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid2 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 4px;
   border-top-style: none;
   border-right-style: none;
   border-bottom-style: none;
   border-left-style: solid;
   border-top-color: #FFFFFF;
   border-right-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
   border-left-color: #FFFFFF;
   padding: 0px 0px 0px 10px;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #FFFFFF;
   font-family: Ubuntu;
   font-weight: normal;
   font-size: 19px;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 300px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 50px 0px 50px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid3 > .col-1, #LayoutGrid3 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .col-1, #LayoutGrid3 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid3 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid3 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .col-1, #LayoutGrid3 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border-top-width: 4px;
   border-right-width: 4px;
   border-bottom-width: 4px;
   border-left-width: 4px;
   border-top-style: none;
   border-right-style: none;
   border-bottom-style: none;
   border-left-style: solid;
   border-top-color: #F9BA48;
   border-right-color: #F9BA48;
   border-bottom-color: #F9BA48;
   border-left-color: #F9BA48;
   padding: 0px 0px 0px 10px;
   margin: 0;
   text-align: left;
}
#wb_Text2
{
   color: #000000;
   font-family: Ubuntu;
   font-weight: normal;
   font-size: 29px;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 20px 0px 0px 0px;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 20px 0px 0px 0px;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border-top-width: 4px;
   border-right-width: 4px;
   border-bottom-width: 4px;
   border-left-width: 4px;
   border-top-style: none;
   border-right-style: none;
   border-bottom-style: none;
   border-left-style: solid;
   border-top-color: #F9BA48;
   border-right-color: #F9BA48;
   border-bottom-color: #F9BA48;
   border-left-color: #F9BA48;
   padding: 0px 0px 0px 10px;
   margin: 50px 0px 0px 0px;
   text-align: left;
}
#wb_Text4
{
   color: #000000;
   font-family: Ubuntu;
   font-weight: normal;
   font-size: 29px;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 40px 0px 40px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid5 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   padding: 0px 0px 0px 10px;
   margin: 0;
   text-align: center;
}
#wb_Text7
{
   color: #000000;
   font-family: Ubuntu;
   font-weight: normal;
   font-size: 29px;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid4 > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4 > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid4 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 40px 0px 0px 0px;
   text-align: left;
}
#wb_Text5
{
   color: #000000;
   font-family: "Ubuntu";
   font-weight: 300;
   font-size: 19px;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border-top-width: 4px;
   border-right-width: 4px;
   border-bottom-width: 4px;
   border-left-width: 4px;
   border-top-style: none;
   border-right-style: none;
   border-bottom-style: none;
   border-left-style: solid;
   border-top-color: #F9BA48;
   border-right-color: #F9BA48;
   border-bottom-color: #F9BA48;
   border-left-color: #F9BA48;
   padding: 0px 0px 0px 10px;
   margin: 40px 20px 0px 0px;
   text-align: left;
}
#wb_Text8
{
   color: #000000;
   font-family: Ubuntu;
   font-weight: normal;
   font-size: 29px;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 10px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid6 > .col-1, #LayoutGrid6 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .col-1, #LayoutGrid6 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid6 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid6 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .col-1, #LayoutGrid6 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 199px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid7 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid7 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border-top-width: 4px;
   border-right-width: 4px;
   border-bottom-width: 4px;
   border-left-width: 4px;
   border-top-style: none;
   border-right-style: none;
   border-bottom-style: none;
   border-left-style: solid;
   border-top-color: #F9BA48;
   border-right-color: #F9BA48;
   border-bottom-color: #F9BA48;
   border-left-color: #F9BA48;
   padding: 0px 0px 0px 10px;
   margin: 40px 20px 0px 0px;
   text-align: left;
}
#wb_Text11
{
   color: #000000;
   font-family: Ubuntu;
   font-weight: normal;
   font-size: 29px;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 40px 0px 20px 0px;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   padding: 0px 0px 0px 10px;
   margin: 40px 20px 0px 0px;
   text-align: left;
}
#wb_Text13
{
   color: #000000;
   font-family: Ubuntu;
   font-weight: normal;
   font-size: 64px;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 40px 0px 0px 0px;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#wb_LayoutGrid9
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid9
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 0px 0px 50px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid9 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid9 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border-top-width: 4px;
   border-right-width: 4px;
   border-bottom-width: 4px;
   border-left-width: 4px;
   border-top-style: none;
   border-right-style: none;
   border-bottom-style: none;
   border-left-style: solid;
   border-top-color: #F9BA48;
   border-right-color: #F9BA48;
   border-bottom-color: #F9BA48;
   border-left-color: #F9BA48;
   padding: 0px 0px 0px 10px;
   margin: 40px 20px 0px 0px;
   text-align: left;
}
#wb_Text15
{
   color: #000000;
   font-family: Ubuntu;
   font-weight: normal;
   font-size: 29px;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 40px 0px 20px 0px;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   padding: 0px 0px 0px 10px;
   margin: 40px 20px 0px 0px;
   text-align: left;
}
#wb_Text17
{
   color: #000000;
   font-family: Ubuntu;
   font-weight: normal;
   font-size: 107px;
}
#wb_Text17 div
{
   text-align: left;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 40px 0px 0px 0px;
   text-align: left;
}
#wb_Text18 div
{
   text-align: left;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 532px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image4
{
   margin: 0;
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 532px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 20px 0px 20px 0px;
   text-align: left;
}
#wb_Text10
{
   color: #000000;
   font-family: "Ubuntu";
   font-weight: 300;
   font-size: 19px;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Image6
{
   margin: 0;
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1073px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Button1
{
   line-height: 38px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 0px solid #2E6DA4;
   border-radius: 20px;
   background-color: #F9BA48;
   background-image: none;
   color: #FFFFFF;
   font-family: "Ubuntu";
   font-weight: 300;
   font-size: 19px;
   -webkit-appearance: none;
   margin: 20px 0px 20px 0px;
}
#Button1:hover
{
   -webkit-transform: rotate(0deg) scale(1.03,1.03) ;
   -moz-transform: rotate(0deg) scale(1.03,1.03) ;
   transform: rotate(0deg) scale(1.03,1.03) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 20px 0px 20px 0px;
   text-align: left;
}
#wb_Text9
{
   color: #000000;
   font-family: "Ubuntu";
   font-weight: 300;
   font-size: 19px;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Image5
{
   margin: 0;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Kontakt
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(../images/footer.jpg);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#Kontakt
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#Kontakt > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#Kontakt > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#Kontakt > .row > .col-1
{
   float: left;
}
#Kontakt > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#Kontakt:before,
#Kontakt:after,
#Kontakt .row:before,
#Kontakt .row:after
{
   display: table;
   content: " ";
}
#Kontakt:after,
#Kontakt .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#Kontakt > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Footer-contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#Footer-contact
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 50px 0px 50px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#Footer-contact > .col-1, #Footer-contact > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#Footer-contact > .col-1, #Footer-contact > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#Footer-contact > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#Footer-contact > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#Footer-contact > .col-1, #Footer-contact > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Text32 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text32 div
{
   text-align: left;
}
#Editbox1
{
   border: 0px solid #CCCCCC;
   border-radius: 20px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: "Ubuntu";
   font-weight: 300;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 32px;
   padding: 4px 4px 4px 4px;
   margin: 10px 0px 10px 0px;
   text-align: center;
}
#Editbox1:focus
{
   border-color: #F9BA48;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(249,186,72,0.60);
   outline: 0;
}
#Button4
{
   line-height: 38px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 0px solid #2E6DA4;
   border-radius: 20px;
   background-color: #F9BA48;
   background-image: none;
   color: #FFFFFF;
   font-family: "Ubuntu";
   font-weight: 300;
   font-size: 19px;
   -webkit-appearance: none;
   margin: 20px 0px 20px 0px;
}
#Button4:hover
{
   -webkit-transform: rotate(0deg) scale(1.03,1.03) ;
   -moz-transform: rotate(0deg) scale(1.03,1.03) ;
   transform: rotate(0deg) scale(1.03,1.03) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#phone
{
   border: 0px solid #CCCCCC;
   border-radius: 20px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: "Ubuntu";
   font-weight: 300;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 32px;
   padding: 4px 4px 4px 4px;
   text-align: center;
   box-sizing: border-box;
   width: 100%;
}
#phone:focus
{
   border-color: #F9BA48;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(249,186,72,0.60);
   outline: 0;
}
#phone.is-valid
{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328A745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
   background-repeat: no-repeat !important;
   background-position: center right calc(0.375em + 0.1875rem) !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
   border-color: #28A745 !important;
   padding-right: calc(1.5em + 0.75rem) !important;
}
#phone.is-invalid
{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23DC3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23DC3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
   background-repeat: no-repeat !important;
   background-position: center right calc(0.375em + 0.1875rem) !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
   border-color: #DC3545 !important;
   padding-right: calc(1.5em + 0.75rem) !important;
}
#phone.is-valid:focus
{
   border-color: #28A745 !important;
   box-shadow: 0 0 0 4px rgba(40, 167, 69, 0.25) !important;
}
#phone.is-invalid:focus
{
   border-color: #DC3545 !important;
   box-shadow: 0 0 0 4px rgba(220, 53, 69, 0.25)!important;
}
#wb_Image7
{
   margin: 20px 0px 20px 0px;
   vertical-align: top;
}
#Image7
{
   border: 2px solid #000000;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Text46 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text46 div
{
   text-align: left;
}
#wb_Text33 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text33 div
{
   text-align: left;
}
#wb_Text34 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0px 0px 10px 0px;
   text-align: left;
}
#wb_Text34 div
{
   text-align: left;
}
#wb_Text35 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0px 0px 10px 0px;
   text-align: left;
}
#wb_Text35 div
{
   text-align: left;
}
#Button10
{
   line-height: 34px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 2px solid #000000;
   border-radius: 20px;
   background-color: transparent;
   background-image: url(../images/whatsapp.png);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: contain;
   color: #000000;
   font-family: "Ubuntu";
   font-weight: 300;
   font-size: 19px;
   -webkit-appearance: none;
   margin: 5px 0px 5px 0px;
}
#Button10:hover
{
   -webkit-transform: rotate(0deg) scale(1.03,1.03) ;
   -moz-transform: rotate(0deg) scale(1.03,1.03) ;
   transform: rotate(0deg) scale(1.03,1.03) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#Button12
{
   line-height: 34px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 2px solid #000000;
   border-radius: 20px;
   background-color: transparent;
   background-image: url(../images/telegram.png);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: contain;
   color: #000000;
   font-family: "Ubuntu";
   font-weight: 300;
   font-size: 19px;
   -webkit-appearance: none;
   margin: 5px 0px 5px 0px;
}
#Button12:hover
{
   -webkit-transform: rotate(0deg) scale(1.03,1.03) ;
   -moz-transform: rotate(0deg) scale(1.03,1.03) ;
   transform: rotate(0deg) scale(1.03,1.03) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
/* Меню загругление */

.ThemeableMenu1 .navbar-nav>li>a {
border-radius: 20px;
}

.ThemeableMenu1 .dropdown-menu > li > a:hover {
border-radius: 20px;
}

/* Контакты распределение  */

#Footer-contact > .col-1, #Footer-contact > .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: baseline; */
    height: 350px;
}


